BasedOnStyle: LLVM

AlignAfterOpenBracket: BlockIndent
AlignOperands: AlignAfterOperator
AllowShortCaseLabelsOnASingleLine: true
BinPackArguments: false
BinPackParameters: false
BracedInitializerIndentWidth: 2
BreakBeforeBinaryOperators: All
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertNewlineAtEOF: true
InsertTrailingCommas: Wrapped
PointerAlignment: Left
RemoveBracesLLVM: true
RemoveParentheses: ReturnStatement
